.App {
  text-align: center;
}

.navbar-brand {
  margin-left: 20px;
}

a .navbar-brand:hover {
  color: red;
}

.nav-link {
  margin: 10px;
  color: white;
}

.nav-link:hover {
  color: lightskyblue;
}

img {
  width: fit-content;
  height: 90vh;
}